
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: Tilda Sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-size: medium;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height:m;
}

.grid-container {
    display: grid;
    height: 100vh; 
    grid-template-columns: [col1-activity] 50px [col2-sidebar-left] 300px [col3-main] auto [col4-sidebar-right] 300px [col5-end];
    grid-template-rows: [row1-header] 25px [row2-main] auto [row3-info] 200px [row4-footer] 25px [row5-end];
}


.main-content {
    grid-column-start: col3-main;
    grid-column-end: col4-sidebar-right;
    grid-row-start: row2-main;
    grid-row-end: row3-info;
    background: gray;
    color: black;
    background: radial-gradient(circle at 50% 25%, #384766, #182d3f);   
}

.activity-bar {
    grid-column-start: col1-activity;
    grid-column-end: col2-sidebar-left;
    grid-row-start: row2-main;
    grid-row-end: row4-footer;
    display: flex;
    flex-direction: column;
    align-content: center;
    background: #21223a;
    border-right: 1px solid #384776;
    padding: 2px;
}

.activity-button {
    width: 48px;
    height: 48px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease; 
}

.icon {
    width: 40px;
    height: 40px;
    filter: invert(100%) brightness(40%) contrast(100%);
    transition: filter 0.2s ease;
}

.activity-button:hover {
    filter: invert(0%) brightness(150%) contrast(100%);   
}

.activity-button.active .icon {
    filter: invert(100%) brightness(100%) contrast(100%); 
}

.sidebar-left {
    grid-column-start: col2-sidebar-left;
    grid-column-end: col3-main;
    grid-row-start: row2-main;
    grid-row-end: row4-footer;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: #21223a;
    border-right: 1px solid #384776;
    padding: 5px;
}

.sidebar-left-button {
    background: none;
    border: none;
    text-align: start;
    padding: 2px 5px;
}

.sidebar-left-button:hover {
    background: rgb(255, 255, 255, 0.2);
}
.sidebar-left-button.active {
    background: rgb(255, 255, 255, 0.3);
}


.sidebar-right {
    grid-column-start: col4-sidebar-right;
    grid-column-end: col5-end;
    grid-row-start: row2-main;
    grid-row-end: row4-footer;
    background: #21223a;
    border-left: 1px solid #384776;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 5px;
}

.info {
    grid-column-start: col3-main;
    grid-column-end: col4-sidebar-right;
    grid-row-start: row3-info;
    grid-row-end: row4-footer;
    background: #21223a;
    border-top: 1px solid #384776;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 200px;
}

#mode, #controls, #drone-parts {
    flex-shrink: 0;
}

header {
    grid-column-start: col1-activity;
    grid-column-end: col5-end;
    grid-row-start: row1-header;
    grid-row-end: row2-main;
    background: #21223a;
    border-bottom: 1px solid #384776;
}

footer {
    grid-column-start: col1-activity;
    grid-column-end: col5-end;
    grid-row-start: row4-footer;
    grid-row-end: row5-end;
    background: #21223a;
    border-top: 1px solid #384776;
}

.control-group {
    margin-bottom: 5px;
    padding: 5px;
    align-items: center;
}
.control-group p{
    text-align: center;
}

.control-group h3 {
    margin-top: 0;
    margin-bottom: 5px;   
}

.btn.btn-primary {
    background-color: #2196F3;
    color: white;
}
.slider-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.slider-container label {
    width: 70px;
    margin-right: 10px;
    text-align: right;
}
.slider-container#roll-slider label {
    text-align: left;
}
.slider-container#pitch-slider label {
    text-align: left;
}
.slider-container#yaw-slider label {
    text-align: left;
}
.slider-container input {
    flex-grow: 1;
    width: auto;
}

.slider-container span {
    width: 50px;
    text-align: left;
    margin-left: 10px;
}
.slider-container#roll-slider span {
    text-align: center;
}
.slider-container#pitch-slider span {
    text-align: center;
}
.slider-container#yaw-slider span {
    text-align: center;
}

.simulation-controls {
    display: flex;
    flex-direction: row;
}
.simulation-controls label {
    min-width: none;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.simulation-controls input {
    color: black;
}

.add-lesson-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 5px;
}
.add-lesson-group button{
    margin-bottom: 5px;
}

#drone-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#drone-container canvas {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.d-grid.gap-1 {
    margin: 5px;
}
.accordion.accordion-flush {
    margin: 5px;
}
.accordion-body {
    align-items: stretch;
}