
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: Tilda Sans, Tahoma;
    color: whitesmoke;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.grid-container {
    display: grid;
    height: 100vh; 
    grid-template-columns: [col1-activity] 50px [col2-sidebar-left] 300px [col3-main] auto [col4-sidebar-right] 300px [col5-end];
    grid-template-rows: [row1-header] 0px [row2-main] auto [row3-info] 200px [row4-footer] 25px [row5-end];
}


.main-content {
    grid-column-start: col3-main;
    grid-column-end: col4-sidebar-right;
    grid-row-start: row2-main;
    grid-row-end: row3-info;
    background: gray;
    color: black;
}

.activity-bar {
    grid-column-start: col1-activity;
    grid-column-end: col2-sidebar-left;
    grid-row-start: row2-main;
    grid-row-end: row4-footer;
    display: flex;
    flex-flow: column;
    align-content: center;
    background: #21223a;
    border-right: 1px solid #384776;
    padding: 2px;
}

.activity-button {
    width: 48px;
    height: 48px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease; 
}

.icon {
    width: 40px;
    height: 40px;
    filter: invert(100%) brightness(40%) contrast(100%);
    transition: filter 0.2s ease;
}

.activity-button:hover {
    filter: invert(0%) brightness(150%) contrast(100%);   
}

.activity-button.active .icon {
    filter: invert(100%) brightness(100%) contrast(100%); 
}

.sidebar-left {
    grid-column-start: col2-sidebar-left;
    grid-column-end: col3-main;
    grid-row-start: row2-main;
    grid-row-end: row4-footer;
    background: #21223a;
    border-right: 1px solid #384776;
}

.sidebar-right {
    grid-column-start: col4-sidebar-right;
    grid-column-end: col5-end;
    grid-row-start: row2-main;
    grid-row-end: row4-footer;
    background: #21223a;
    border-left: 1px solid #384776;
}

.info {
    grid-column-start: col3-main;
    grid-column-end: col4-sidebar-right;
    grid-row-start: row3-info;
    grid-row-end: row4-footer;
    background: #21223a;
    border-top: 1px solid #384776;
}

header {
    grid-column-start: col1-activity;
    grid-column-end: col5-end;
    grid-row-start: row1-header;
    grid-row-end: row2-main;
    background: #21223a;
    border-bottom: 1px solid #384776;
}

footer {
    grid-column-start: col1-activity;
    grid-column-end: col5-end;
    grid-row-start: row4-footer;
    grid-row-end: row5-end;
    background: #21223a;
    border-top: 1px solid #384776;
}