
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: Tilda Sans, Tahoma;
    color: whitesmoke;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.grid-container {
    display: grid;
    height: 100vh; 
    grid-template-columns: [col1-activity] 50px [col2-sidebar-left] 300px [col3-main] auto [col4-sidebar-right] 300px [col5-end];
    grid-template-rows: [row1-header] 25px [row2-main] auto [row3-info] 200px [row4-footer] 25px [row5-end];
}


.main-content {
    grid-column-start: col3-main;
    grid-column-end: col4-sidebar-right;
    grid-row-start: row2-main;
    grid-row-end: row3-info;
    background: red;
}

.activity-bar-left {
    grid-column-start: col1-activity;
    grid-column-end: col2-sidebar-left;
    grid-row-start: row2-main;
    grid-row-end: row4-footer;
    background: green;
}

.sidebar-left {
    grid-column-start: col2-sidebar-left;
    grid-column-end: col3-main;
    grid-row-start: row2-main;
    grid-row-end: row4-footer;
    background: blue;
}

.sidebar-right {
    grid-column-start: col4-sidebar-right;
    grid-column-end: col5-end;
    grid-row-start: row2-main;
    grid-row-end: row4-footer;
    background: gray;
}

.info {
    grid-column-start: col3-main;
    grid-column-end: col4-sidebar-right;
    grid-row-start: row3-info;
    grid-row-end: row4-footer;
    background: blueviolet;
}

header {
    grid-column-start: col1-activity;
    grid-column-end: col5-end;
    grid-row-start: row1-header;
    grid-row-end: row2-main;
    background: yellowgreen;
    color: black;
}

footer {
    grid-column-start: col1-activity;
    grid-column-end: col5-end;
    grid-row-start: row4-footer;
    grid-row-end: row5-end;
    background: black;
}